footer {
  background-color: black;
}
.questions {
  color: #6f7173;
}
.phone {
  color: #6f7173;
  text-decoration: none;
}
.phone:hover {
  text-decoration: underline;
}
.listelement {
  text-decoration: none;
  box-sizing: border-box;
  display: inline-block;
  margin-bottom: 12px;
  width: 20%;
}
.list {
  color: #6f7173;
  text-decoration: none;
}
.list:hover {
  text-decoration: underline;
}
.country {
  color: #6f7173;
  font-size: 12px;
}
