/*GENERALI*/
html{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(0,0,0);
}
.container{
    color: white;
    height: 350px;
    display: flex;
    border-bottom: 8px solid rgb(34,34,34);
    padding-top: 70px;
    padding-left: 45px;
    padding-bottom: 70px;
    padding-right: 45px;
    align-items: center;
    flex-wrap: wrap;
}
.title{
    font-size: 50px;
    margin-bottom: 0;
}
.subtitle{
    font-size: 25px;
    margin-bottom: 0px;
    margin-top: 0px;
}
.info{
    color: white;
}
h1{
    margin-top: 0;
    margin-bottom: 0;
}
/*--------------------------*/

/*PRIMO CONTAINER*/
.first-text{
    margin-left: 150px;
    margin-top: -120px;
    height: 300px;
    width: 536px;
}
.tv{
    margin-left: 100px;
    margin-top: -40px;
    height: 400px;
    width: 500px;
    position: absolute;
}

.video-tv{
    position:static;
    height: 300px;
    width: 400px;
    margin-left: 165px;
    margin-bottom:200px;
}

/*SECONDO CONTAINER*/
.desktop-video{
    margin-top: -50px;
}
.desktop{
    height: 400px;
    width: auto;
    padding-left: 150px;
    position: absolute;
}

.second-text{
    width: 510px;
    height: 200px;
    padding-left: 100px;
    margin-bottom: 50px;
    margin-left: 650px;
    margin-top: -250px;
}
.video-desktop{
    position:static;
    height: 240px;
    width: 320px;
    margin-left: 250px;
}
/*TERZO CONTAINER*/
.third-text{
    width: 520px;
    height: 200px;
    padding-left: 150px;
    margin-bottom: 50px;
}
.img-bambini{
    width: 480px;
    height: 360px;
}
/*--------------------------*/

/*QUARTO CONTAINER*/
.phone{
    width: 480px;
    height: 360px;
    position: relative;
    margin-left: 90px;
}
.fourth-text{
    width: 520px;
    height: 200px;
    padding-left: 150px;
    margin-bottom: 50px;
}
.small-box{
    background-color: black;
    display: flex;
    border: 2px solid rgb(64,64,64);
    border-radius: 15px;
    height: 100px;
    width: 300px;
    position: absolute;
    margin-top: 230px;
    margin-left: 180px;
}
.image-phone{
    padding: 10px;
}
.small-box-text{
    color: rgb(84, 84, 228);
    margin: 0;
}
.small-box-title{
    margin-bottom: 0px;
}
.download-icon{
    width: 50px;
    height: 50px;
    margin-top: 20px;
    margin-left: 10px;
}
/*--------------------------*/

